{% extends 'base.html' %}
{% block content %}
    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                            <form method="get">
                                {{ search_form }}
                                <button type="submit">
                                    <span class="icon_search"></span>
                                </button>
                            </form>
                        </div>
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Колекции</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    {% for jewel in collection_jewel %}
                                                        <li>
                                                            <a href="?collection={{ jewel.collection }}"
                                                               class="{% if jewel.collection == selected_collection_jewel %}active{% endif %}">
                                                                {{ jewel.collection }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo">Вид</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__brand">
                                                {% for type in types %}
                                                    <ul>
                                                        <li>
                                                            <a href="?type={{ type.type }}"
                                                               class="{% if type.type == selected_type %}active{% endif %}">
                                                                {{ type.type }}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo">Сезон</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    {% for season in seasons %}
                                                        <li>
                                                            <a href="?season={{ season.season }}"
                                                               class="{% if season.season == selected_season %}active{% endif %}">
                                                                {{ season.season }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>Показани {{ start_index }}–{{ end_index }} от {{ total_results }} резултата</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Сортирай по:</p>
                                    <form method="get">
                                        {% for key, value in request.GET.items %}
                                            {% if key != 'sort' %}
                                                <input type="hidden" name="{{ key }}" value="{{ value }}">
                                            {% endif %}
                                        {% endfor %}
                                        <select name="sort" onchange="this.form.submit()">
                                            <option value="" {% if not sort %}selected{% endif %}>Най-популярни</option>
                                            <option value="price_asc" {% if sort == 'price_asc' %}selected{% endif %}>
                                                Най-евтини
                                            </option>
                                            <option value="price_desc" {% if sort == 'price_desc' %}selected{% endif %}>
                                                Най-скъпи
                                            </option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for jewel in jewellery %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item sale">
                                    <div class="product__item__pic set-bg" data-setbg="{{ jewel.image.url }}">
                                        <span class="label">Ново</span>
                                    </div>
                                    <div class="product__item__text">
                                        <h6>{{ jewel.collection.caption }}</h6>
                                        <a href="{% url 'product_detail' jewel.id %}" class="add-cart">Разгледай</a>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h5>{{ jewel.collection.price }} лв.</h5>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <p>Няма налични продукти за избрания филтър.</p>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                {% if jewellery.has_previous %}
                                    <a href="?page=



                                            {{ jewellery.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&laquo;</a>
                                {% endif %}

                                {% for i in jewellery.paginator.page_range %}
                                    {% if i == jewellery.number %}
                                        <a class="active" href="?page=



                                                {{ i }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a>
                                    {% elif i > jewellery.number|add:'-3' and i < jewellery.number|add:'3' %}
                                        <a href="?page=



                                                {{ i }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a>
                                    {% elif forloop.first or forloop.last %}
                                        <a href="?page=



                                                {{ i }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a>
                                        <span>...</span>
                                    {% endif %}
                                {% endfor %}

                                {% if jewellery.has_next %}
                                    <a href="?page=



                                            {{ jewellery.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&raquo;</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->
{% endblock %}